*
{
    font-family: Georgia;
}

header
{
    background-color: dodgerblue;
    color: white;
    padding: 10px;
    text-align: center;
}

main
{
    background-color: lightblue;
    padding: 100px;
}

footer.left
{
    background-color: dodgerblue;
    color: white;
    width: 20%;
    height: 220px;
}

footer.mid, footer.right
{
    background-color: dodgerblue;
    color: white;
    width: 40%;
    height: 220px;
    text-align: center;
}

a
{
    border: 1px dashed dimgray;
    background-color: gold;
    color: darkred;
    padding: 10px;
}

footer
{
    float: left;
}