body
{
    background-color: #FFCC99;
    font-family: "Garamond";
    text-align: center;
    margin: 0;
}

header, footer
{
    background-color: darkgreen;
    color: white;
    padding: 30px;
    font-size: 140%;
}

nav
{
    background-color: mediumseagreen;
    word-spacing: 90px;
    padding: 20px;
}

section.left
{
    width: 70%;
    height: 500px;
    float: left;
}

section.right
{
    background-color: mediumseagreen;
    width: 30%;
    height: 500px;
    text-align: left;
    float: left;
}

table
{
    border: 1px dashed darkgreen;
    margin: 30px auto;
}

td, th
{
    padding: 5px;
}

a
{
    color: white;
}

ul
{
    list-style-type: circle;
}

tr:hover
{
    color: white;
    background-color: darkgreen;
}

footer
{
    clear: both;
}